@tailwind base;
@tailwind components;
@tailwind utilities;


.fullscreen-bg {
    background-image: url('https://puui.wetvinfo.com/vcover_hz_pic/0/2knhnaakii18oxj1683882661123/0?imageMogr2/thumbnail/600x|imageMogr2/thumbnail/600x');
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: hidden;
  }